{% extends "emails/base_email.html" %}
{% block subject %}Verify your FlockIQ account{% endblock %}
{% block content %}
  <h1>Welcome to FlockIQ &#128046;</h1>
  <p>Hi {{ user.first_name|default:user.email }},</p>
  <p>Thanks for signing up. Please confirm your email address to activate
     your account and start managing your flock.</p>
  <p style="text-align:center">
    <a href="{{ verification_url }}" class="btn">Verify my email</a>
  </p>
  <p class="muted">This link expires in 24 hours. If the button doesn't work,
     copy and paste this URL into your browser:</p>
  <p class="muted break">
    <a href="{{ verification_url }}" style="color:#1a4731">{{ verification_url }}</a>
  </p>
  <hr class="divider">
  <p class="muted">If you didn't sign up for FlockIQ, you can safely ignore
     this email.</p>
{% endblock %}
